header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 2px 4px 4px lightgray;
  /* x,y,blur,spread shadow-color */
  text-align: center;
}

header img {
  margin-top: 25px;
  height: 50px;
}

.nav {
  float: right;
  display: flex;
  margin-top: 40px;
  font-size: 14px;
}

.logout, .register, .login {
  margin-right: 30px;
}
